html {
  padding: 10px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  list-style-type: none;
}

li.home a {
  color: red;
  font-weight: bold;
}

header + nav a {
  font-size: 200%;
  color: brown;
}

ul *:first-child {
  color: aqua;
}

.box-one {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
}
